<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" th:href="@{/design.css}">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Social Security Number</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>gender</th>
                <th>birth</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.svnr}"></td>
                <td th:text="${p.firstname}"></td>
                <td th:text="${p.lastname}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.birth}"></td>
            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add" class="btn btn-primary">Add new patient</a>

    </p>
</div>
</body>
</html>